<div class="main">
    <p class="page-header">Bulk Recharge</p>
    <div class="content">
    <form method="POST">
        <label>Upload File</label><br/>
        <input type="file" name="file"><br/>
        <label>Amount</label><br/>
        <input type="number" name="amount"><br/>
        <label>Choose Mobile Operator</label><br/>
        <select>
            <option value="mtn">MTN</option>
            <option value="glo">Glo</option>
            <option value="airtel">Airtel</option>
            <option value="etisalat">Etisalat</option>
        </select><br/>
        <input class="submit" type="submit" value="Recharge">
    </form>
</div>
</div>
